.calendar {
  .row {
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    border: 1mm solid #000000;
    // border-bottom: none;

    // margin-bottom: 5mm;

    .col {

      height: 35mm;
      width: 25mm;

      padding: 2mm;

      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      flex-grow: 1;

      border-right: 2mm solid #000000;

      &:last-child {
        border-right: none;
      }

      header {
        display: flex;
        width: 100%;
        margin-bottom: 2mm;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: stretch;
        align-items: stretch;
        width: 100%;
        height: 100%;

        color: #7b7b7b;

        .event {
          
          display: block;
          border-bottom: 0.25mm solid #e6e6e6;
        }
      }
    }

    &:last-child {
      border-bottom: 1mm solid #000000;
    }
  }

  .after, .before {
    display: block;
    width: 100%;
    clear: both;
    border-top: 0.3mm dashed #000000;
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
  }

  .row-container {
    page-break-before: auto;
  }
}